@import "../../scss/colors.scss";

.quiz {
  @media screen and (max-width: 769px) {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 150px;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__info {
    max-width: 32.5%;
    width: 100%;
    padding: 50px 0;

    @media screen and (max-width: 1199px) {
      max-width: 50%;
      padding: 40px 0;
    }

    @media screen and (max-width: 992px) {
      max-width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    & .quiz__img {
      display: none;

      @media screen and (max-width: 992px) {
        display: flex;
      }
    }
  }

  &__img {
    max-width: 47%;
    width: 100%;
    display: flex;

    @media screen and (max-width: 1199px) {
      max-width: 50%;
    }
    @media screen and (max-width: 992px) {
      display: none;
      max-width: 100%;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width: 769px) {
      max-width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    & img,
    & svg {
      width: 100%;
      max-height: 630px;
      height: 100%;
      object-fit: contain;

      @media screen and (max-width: 992px) {
        max-height: 300px;
        width: auto;
      }

      @media screen and (max-width: 769px) {
        max-height: 215px;
        width: auto;
      }
    }
  }

  &__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 110%;
    color: $dark-blue;
    margin-top: 0;
    margin-bottom: 40px;

    @media screen and (max-width: 992px) {
      text-align: center;
    }

    @media screen and (max-width: 769px) {
      font-size: 30px;
    }
  }

  &__items {
    margin-bottom: 75px;

    @media screen and (max-width: 992px) {
      margin-bottom: 0;
    }

    @media screen and (max-width: 769px) {
      margin-bottom: 0;
    }
  }

  &__item {
    position: relative;
    display: block;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 15px;

      @media screen and (max-width: 769px) {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    transition: 0.2s;
    display: flex;
    padding: 20px 30px;
    box-sizing: border-box;
    height: 65px;

    background-color: $white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: $dark-blue;

    @media screen and (max-width: 769px) {
      font-size: 16px;
      padding: 20px;
      height: 60px;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;

    &:checked + .quiz__text {
      background-color: $blue;
      border: 1px solid $blue;
      color: $white;
    }
  }

  &__buttons {
    display: flex;
    column-gap: 20px;

    @media screen and (max-width: 769px) {
      column-gap: 10px;
    }
  }
}